*{
  margin:0;
  padding:0;
}
body{
    padding: 30px;
    border: 10px solid powderblue;
    height: 500px;
    
}

.carousel{
    overflow-x: hidden;
  }
.mySlides {
      display: none;
      height: auto;
      width:  auto;
      padding: 1rem 3.5rem;
      margin: 0 auto;
      overflow: hidden;
}
.slideshow-container {
  position: relative;
      margin: 0 auto;
      overflow: hidden;

    }
    .carousel .prev,
    .carousel .next{
      background-color: rgba(0,0,0,0.2);
      cursor: pointer;
      position: static;
      top: 85%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: #000000;
      font-weight: bold;
      font-size: 1.25rem;
      transition: 0.10s ease;
      border: none;
      user-select: none;
      left: 0;
      overflow: hidden;
    }