
*{
    margin:0;
    border:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  body{
    padding: 30px;
    background-color: #d4bc5d;
    border: 10px solid rgb(0, 0, 0);
    height: auto;
}
img{
  width: auto;
  height: 500px;
}
.slideshow-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#botao-mapaMundi{
  width: 80%;
  border: 1px black solid;
  background-color: rgb(235, 198, 36);
  border-radius: 20px;
  display: block;
  margin: auto;
}
#botao-mapaMundi a{
  text-decoration: none;
}
.direction{
  width: 50px;
  border-radius: 20px;
}
.direction:hover{
  cursor: pointer;
  background-color: rgb(235, 198, 36);
}